CONVEX_DEPLOYMENT=

EXPO_PUBLIC_CONVEX_URL=

EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=

EXPO_PUBLIC_CONVEX_SITE_URL=

EXPO_IOS_BUNDLE_IDENTIFIER=com.company.example
EXPO_ANDROID_PACKAGE=com.company.example
EXPO_IOS_APPLE_TEAM_ID=
EXPO_USES_APPLE_SIGN_IN=[true/false]
EXPO_EAS_PROJECT_ID=
EXPO_OWNER=
